<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>
      <button [routerLink]="['monitoreo/inicio']" mat-button class="menu-button">
        Sistema
      </button>
    </h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav opened="false" mode="side">
    <mat-nav-list>
      <button [routerLink]="['monitoreo/inicio']" mat-button class="menu-button">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="developer_board"></mat-icon>
        <span>Monitoreo</span>
      </button>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let nodo" matTreeNodePadding>
          <button mat-button (click)="expandir(nodo)" class="menu-button" style="color: white;">
            {{ nodo.nombre }}
          </button>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let nodo; when: tieneHijos" matTreeNodePadding>
          <button mat-button [attr.aria-label]="'toggle ' + nodo.nombre" (click)="expandir(nodo)" class="menu-button"
            style="color: white;">
            <mat-icon>{{ treeControl.isExpanded(nodo) ? 'expand_more' : 'equalizer' }}</mat-icon>
            {{ nodo.nombre }}
          </button>
        </mat-tree-node>
      </mat-tree>
      <button mat-button (click)="close()" class="menu-button" [disabled]="botonDesactivado"
        [hidden]="botonDesactivado">
        <mat-icon>logout</mat-icon>
        <span>Cerrar session</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
