<div class="col-md-6 offset-md-3">
  <div class="content mat-elevation-z8 justify-content-center">
    <span>Temperaturas actuales</span>
    <br>
    <div class="container1">
      <div class="frame">
        <div class="center">
          <div class="termometro">
            <div class="indicatore">
              <div class="overlay"></div>
            </div>
            <div class="stick" id="stick"></div>
            <div class="temperatura">
              <div class="inside n1" id="valor1">0°</div>
              <br>
              <div class="where">Temp 1</div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame">
        <div class="center">
          <div class="termometro">
            <div class="indicatore">
              <div class="overlay"></div>
            </div>
            <div class="stick" id="stick2"></div>
            <div class="temperatura">
              <div class="inside n1" id="valor2">0°</div>
              <br>
              <div class="where">Temp 2</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [hidden]="botonDesactivado">
      <div style="display: inline-block; margin-right: 160px; text-align: center;">
        <input class="form-control mt-2" [(ngModel)]="ganancia1" style="width: 80px; margin: 0 auto;">
        <br>
        <button mat-button class="btn btn-primary" (click)="SetAv(1)" style="margin: 0 auto;">
          <span class="spanText">Asignar ganancia</span>
        </button>
      </div>
      <div style="display: inline-block; margin-right: 0px; text-align: center;">
        <input class="form-control mt-2" [(ngModel)]="ganancia2" style="width: 80px; margin: 0 auto;">
        <br>
        <button mat-button class="btn btn-primary" (click)="SetAv(2)" style="margin: 0 auto;">
          <span class="spanText">Asignar ganancia</span>
        </button>
      </div>
      <br>
      <br>
      <div>
        <label for="alert" style="color: red;">{{AlertAv}}</label>
      </div>
    </div>
  </div>
  <div class="contentConteo mat-elevation-z8 justify-content-center">
    <span>Conteo de pollos del dia de hoy</span>
    <br>
    <div class="divCont">
      <div class="contadores">
        <h1>Conteo 1: {{Contador1}}</h1><span></span>
      </div>
      <div class="contadores">
        <h1>Conteo 2: {{Contador2}}</h1>
      </div>
    </div>
  </div>
</div>